#add-new-todo-button{
 font-size: 20px;
 text-align: center;
 color: #FFF;
 outline: none;
 border-style: none;
 padding: 10px;
 border-radius: 3px;
 box-shadow: 2px 2px 1px #90A4AE ;
 display: block;
 background-color: #03A9F4 ;
 margin-top: 10px;
}